export(getHeader)
export(getHeaderClock)
export(getHeaderLevel)
export(getLogFileName)
export(getLoggingThreshold)
export(getLogToConsole)
export(getLogToFile)
export(logBegin)
export(logEnd)
export(logList)
export(logTime)
export(newLogFile)
export(setLogFileName)
export(setLoggingThreshold)
export(setLogToConsole)
export(setLogToFile)
export(setTimeFormat)
